<header class="header sticky-top bg-white shadow-sm">
  <nav class="navbar navbar-expand-lg py-2 navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="{{ .Site.Params.nav.logo | absURL }}"
          alt="{{ .Site.Title }} logo"
          height="100"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
          <!-- User-defined menu items -->
          {{ range .Site.Params.nav.menu }}
          <li class="nav-item {{ if .children }}dropdown{{ end }}">
            <a
              class="nav-link position-relative px-3 {{ if eq $.RelPermalink .url }}active{{ end }} 
      {{ if .children }}dropdown-toggle{{ end }}"
              href="{{ .url }}"
              {{
              if
              .children
              }}id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              {{
              end
              }}
            >
              {{ .name }}
              <span class="nav-underline"></span>
            </a>

            {{ if .children }}
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ range .children }}
              <li>
                <a class="dropdown-item" href="{{ .url }}">{{ .name }}</a>
              </li>
              {{ end }}
            </ul>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>
